a {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    min-width: 200px;
}

.dropdown-menu form {
    margin: 0.5rem 0.5rem;
}

.nav-item:hover .nav-link {}

.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-item .dropdown-menu {
    margin-top: 0;
}

#conn-icon {
    /* background: var(--e-bg-grey);
    border-radius: 50%; */
}