<ng-template #tasksModal let-modal>
    <div class="card">
        <h5 class="card-header">Today's Tasks</h5>
        <div class=" card-body">
            <p class="mb-3"><b>Hello {{user.firstName}}! What tasks will you be performing today?</b></p>
            <form (submit)="submitTasks()">
                <div class="vstack gap-1">
                    <div class="form-check">
                        <input class="form-check-input" name="checkBalance" type="checkbox" id="taskCheckBalance"
                            [(ngModel)]="taskSelection.checkBalance">
                        <label class="form-check-label" for="taskCheckBalance">Check Balance</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="payBills" type="checkbox" id="taskPayBills"
                            [(ngModel)]="taskSelection.payBills">
                        <label class="form-check-label" for="taskPayBills">Pay Bills</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="moveBetween" type="checkbox" id="taskMoveBetween"
                            [(ngModel)]="taskSelection.moveBetween">
                        <label class="form-check-label" for="taskMoveBetween">Balance Accounts</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="transfer" type="checkbox" id="taskTransfer"
                            [(ngModel)]="taskSelection.transfer">
                        <label class="form-check-label" for="taskTransfer">Transfer Funds</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="managePayments" type="checkbox" id="taskPayments"
                            [(ngModel)]="taskSelection.managePayments">
                        <label class="form-check-label" for="taskPayments">Manage Payments</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="manageMortgage" type="checkbox" id="taskMortgage"
                            [(ngModel)]="taskSelection.manageServices">
                        <label class="form-check-label" for="taskMortgage">Manage Services</label>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" name="other" type="checkbox" id="taskOther"
                                [(ngModel)]="taskSelection.other">
                            <label class="form-label" for="taskOther">Other</label>
                        </div>
                        <input class="form-control" name="otherDetails" type="string" id="taskOtherDetails"
                            [(ngModel)]="taskSelection.otherDetails">
                    </div>
                    <div *ngIf="user.admin" class="mt-2">
                        <button type="button" class="btn btn-success" (click)="selectAll()">Select All</button>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>