<div class="row">
    <div class="col-sm-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-8">
        <div *ngIf="currentUser">
            <h1>Hi {{currentUser.firstName}}! <i *ngIf="currentUser.admin" class="bi bi-cup-hot-fill"></i></h1>
            <h3>All registered users:</h3>
            <ul>
                <li *ngFor="let user of users">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <app-sidebar></app-sidebar>
    </div>
</div>