<div class="row">
    <div class="col-sm-12">
        <div *ngIf="currentUser">
            <h1>Hi {{currentUser.firstName}}! <i *ngIf="currentUser.admin" class="bi bi-cup-hot-fill"></i></h1>
            <app-accounts></app-accounts>
            <!-- <h3>All registered users:</h3>
            <ul>
                <li *ngFor="let user of users">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                </li>
            </ul> -->
        </div>
    </div>
</div>