<div class="vstack gap-2">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click)="alert.success('Test Success')">Success Alert</button>
        <button type="button" class="btn btn-danger" (click)="alert.error('Test error')">Error Alert</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="admin.testLoggingRequest()">Test
            Logging</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" (click)="admin.testAuthRequest()">Test
            Auth</button>
        <button type="button" class="btn btn-outline-primary" (click)="admin.testLogin()">Test
            Login</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" (click)="tasksModal.openTasksModal()">Task Modal</button>
        <button type="button" class="btn btn-primary" (click)="addCoModal.openAddCoModal()">Add CO Modal</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary"
            (click)="modal.openNotification('Notification', 'Test notification.')">Test Notification</button>
        <button type="button" class="btn btn-primary"
            (click)="modal.openNotification('Notification', complexContent)">Test Complex Notification</button>
        <button type="button" class="btn btn-primary"
            (click)="modal.openConfirmation('Text Confirm', 'Test confirm')">Test Confirmation</button>
        <button type="button" class="btn btn-primary"
            (click)="modal.openConfirmation('Test Confirmation', complexContent)">Test Complex Confirmation</button>
    </div>
</div>

<ng-template #complexContent>
    <div class="row">
        <p>This is <a href="#">complex</a> <em> content</em>. <i class=" bi bi-check2-all"></i></p>
    </div>
</ng-template>

<app-tasks></app-tasks>
<app-add-co></app-add-co>