<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Cards Summary</h5>
            <div class="card-body">
                <table class="table table-striped table-hover" id="cards_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of cards" (click)="showDetails(card)"
                            [class.bg-light]="currentCard === card">
                            <td>
                                {{card.name}} ({{textlib.cardTypeString(card.type)}})
                                <br>
                                <i>{{card.id.safeStringLong()}}</i>
                            </td>
                            <td>${{card.balance.toFixed(2)}}</td>
                            <td>${{card.limit.minus(card.balance || 0).toFixed(2)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-card-details [(card)]="currentCard"></app-card-details>