<div class="row vstack gap-3">
    <h3>Welcome to the Proxy Caregiver's Banking Prototype</h3>
    <div class="col-6">
        This is a prototype of an online banking interface designed to support people who bank on behalf of an older
        adult. This relies on the concept of a "proxy account" where you log in with your own username and password, but
        have the ability to perform banking tasks on behalf of another.
        <hr>
        Everything in the prototype is fake. Bank of Bank is not a real bank, and does not manage any real money.
        Everything is entirely on your own computer, and no data is saved to a server or database anywhere.
        <hr>
        In order to use the prototype you will have to "register" a user before logging in.
        <hr>
        If you are interested in participating in the study related to this prototype, please see the <a
            href="https://celinelatulipe.net/gathering-feedback-on-banking-interfaces-for-caregivers/"
            target="_blank">study website</a> where you'll find details about the study, including instructions on how
        to get involved!
    </div>
    <div class="col-4">
        <a class="btn btn-success" role="button" routerLink="/login">Continue to Login</a>
    </div>
</div>