#content {
    margin-top: 50px !important;
}

#footer {
    margin-top: 50px;
    padding-top: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--app-yellow);
}

#legal {
    background-color: var(--bs-gray-dark);
    color: var(--app-grey);
    margin: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    max-width: none;
    font-size: 0.8rem;
}

#legal p {
    margin-bottom: 0px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}