<!-- main app container -->
<div class="flex-wrapper">
    <div class="jumbotron">
        <app-navbar></app-navbar>
        <div class="container" id="content">
            <div class="row justify-content-center">
                <app-alert></app-alert>
            </div>
            <div class="row justify-content-center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer *ngIf="auth.isLoggedIn" id="footer" class="text-bg-yellow">
        <div class="container">
            <div class="row">
                <div class=" col-sm-2"></div>
                <div class="col-sm-2">
                    <h5>Banking</h5>
                    <p><a routerLink="/accounts">Accounts</a></p>
                    <p><a routerLink="/accounts">Credit Cards</a></p>
                    <p>Personal Loans</p>
                    <p>International Banking</p>
                </div>
                <div class="col-sm-2">
                    <h5>Insurance</h5>
                    <p>Travel Insurance</p>
                    <p>Home Insurance</p>
                    <p>Renter's Insurance</p>
                </div>
                <div class="col-sm-2">
                    <h5>Investing</h5>
                    <p>TFSAs</p>
                    <p>Mutual Funds</p>
                    <p>RRSPs</p>
                    <p>Investment Services</p>
                </div>
                <div class="col-sm-2">
                    <h5>Help Center</h5>
                    <p>Contact Us</p>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="container" id="legal">
            <div class="row">
                <div class="col-sm-6">
                    <p>Bank of Bank, &copy; 2022</p>
                </div>
                <div class="col-sm-6 text-end">
                    <a href="assets/pdf/AppendixJ_Consent_Form_v5.pdf" target="_blank">Consent</a>
                    <div class="vr ms-1 me-1"></div>
                    <a href="assets/pdf/AppendixJ_Consent_Form_v5.pdf" target="_blank">Legal</a>
                    <div class="vr ms-1 me-1"></div>
                    <a href="#">Accessibility</a>
                    <div class="vr ms-1 me-1"></div>
                    <a href="assets/pdf/AppendixJ_Consent_Form_v5.pdf" target="_blank">Privacy and Security</a>
                </div>
            </div>
        </div>
    </footer>
</div>