:root {
    /* Colors from tryeraser.com. */
    --e-grey: #ced4da;
    --e-blue: #3b5bdb;
    --e-teal: #1971c2;
    --e-aqua: #099268;
    --e-green: #2f9e44;
    --e-yellow: #f08c00;
    --e-orange: #e8590c;
    --e-red: #e03131;
    --e-pink: #c2255c;
    --e-bg-grey: #ced4da;
    --e-bg-blue: #bac8ff;
    --e-bg-teal: #a5d8ff;
    --e-bg-aqua: #96f2d7;
    --e-bg-green: #b2f2bb;
    --e-bg-yellow: #ffec99;
    --e-bg-orange: #ffd8a8;
    --e-bg-red: #ffc9c9;
    --e-bg-pink: #fcc2d7;

    /* App specific selections. */
    --app-yellow: var(--e-bg-yellow);
    --app-grey: var(--e-bg-grey);
    --app-green: var(--e-bg-green);
    --app-blue: var(--e-bg-blue);
    --app-red: var(--e-bg-red);
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid var(--bs-green);
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid var(--bs-red);
    /* red */
}

.text-bg-yellow {
    background-color: var(--app-yellow);
    color: black;
}

.text-bg-red {
    background-color: var(--e-bg-red);
    color: black;
}

.text-bg-orange {
    background-color: var(--e-bg-orange);
    color: black;
}

.bg-grey {
    background-color: var(--e-bg-grey);
}

.bg-dark-grey {
    background-color: var(--bs-gray-dark);
}

.btn.btn-yellow {
    background-color: var(--e-bg-yellow);
    color: black;
}

.btn.btn-yellow:hover {
    background-color: var(--e-bg-orange);
    border-color: var(--e-bg-orange);
}

.card-body-separated {
    border-bottom: var(--bs-border-color) 1px;
    border-bottom-style: solid;
}

hr.thin {
    margin: 0.5rem 0rem;
}

hr.bottomless {
    margin-bottom: 0rem;
}