<div *ngIf="auth.isLoggedIn" style="width: 100%">
    <div *ngIf="sidebarType == SidebarType.DEFAULT">
        <div class="vstack gap-3">
            <div class="card">
                <div class="card-body card-body-separated text-bg-yellow">
                    <h5 class="card-title">Mortgage Offer</h5>
                    <p>Switch your mortgage to Bank of Bank and get pre-approved within the week.</p>
                    <a href="#" style="pointer-events: none;">Speak with a Representative</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Free Air Miles</h5>
                    <p>Clients who sign up for the new Bank of Bank Air Miles<sup>&copy;</sup> Rewards
                        Mastercard<sup>&copy;</sup> are elligible for
                        10,000 free
                        miles upon approval.</p>
                    <button type="button" class="btn btn-dark">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sidebarType == SidebarType.CHART">
        <div class="vstack gap-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Transactions</h5>
                    <div>
                        <canvas baseChart [type]="'bar'" [data]="barChartData" [options]="barChartOptions"></canvas>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transaction Categories</h5>
                    <div>
                        <canvas baseChart [type]="'doughnut'" [data]="doughnutChartData"
                            [options]="doughnutChartOptions"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sidebarType == SidebarType.CONSEQUENCES">
        <div class="card text-bg-red">
            <div class="card-body">
                <h5 class="card-title">Did you know?</h5>
                <p>Did you know that financial misconduct affects 1 in 20 older adults, and impacts their
                    ability
                    to support themselves and maintain independence?</p>
                <a class="btn btn-dark" role="button" target="_blank"
                    href="https://www.canada.ca/en/employment-social-development/corporate/seniors/forum/financial-abuse.html">
                    Get More Info <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="sidebarType == SidebarType.SECURITY">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recent Activity</h5>
                Logged in <b>{{auth.currentUser?.personalization?.loginCount}}</b> times
                <hr>
                Made <b>{{auth.currentUser?.personalization?.txCount}}</b> transactions
                <hr>
                <span
                    *ngIf="auth.currentUser && auth.currentUser.payments.length > 0; else noTx"><b>{{auth.currentUser.payments.length}}</b>
                    pending transaction(s)</span>
                <ng-template #noTx>No transactions pending</ng-template>
            </div>
        </div>
    </div>
    <div *ngIf="sidebarType == SidebarType.QUICKLINKS">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quick Links</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Schedule an Appointment <i class="bi bi-box-arrow-up-right"></i></li>
                    <li class="list-group-item">Go Paperless <i class="bi bi-box-arrow-up-right"></i></li>
                    <li class="list-group-item"><a class="text-reset text-decoration-none" routerLink="/transfer">Make a
                            Transfer <i class="bi bi-box-arrow-up-right"></i></a></li>
                    <li class="list-group-item">Manage Profile <i class="bi bi-box-arrow-up-right"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>